.menu-container {
  position: relative;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

.line {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Menambahkan transisi opasitas */
}

.menu-items {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #f1f1f1;
  padding: 10px;
  list-style-type: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 1; /* Mengatur opasitas menu-items ke 1 */
  transition: opacity 0.3s ease; /* Menambahkan transisi opasitas */
}

.menu-items li {
  margin-bottom: 10px;
}

.menu-items a {
  color: #333;
  text-decoration: none;
}

/* Tampilan menu saat diaktifkan */
.menu-container:hover .line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
  opacity: 0; /* Mengatur opasitas menjadi 0 saat dihover */
}

.menu-container:hover .line:nth-child(2) {
  opacity: 0;
}

.menu-container:hover .line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
  opacity: 0; /* Mengatur opasitas menjadi 0 saat dihover */
}

.menu-container:hover .menu-items {
  display: block;
  opacity: 1; /* Mengatur opasitas menu-items menjadi 1 saat dihover */
}

.dark-mode {
  background-color: #000;
  color: #fff;
}

/* Tampilan mode malam */
.dark-mode .line {
  background-color: #fff;
}

.dark-mode .menu-items {
  background-color: #333;
}

.dark-mode .menu-items a {
  color: #fff;
}

/* Tampilan mode siang */
.light-mode .line {
  background-color: #333;
}

.light-mode .menu-items {
  background-color: #f1f1f1;
}

.light-mode .menu-items a {
  color: #333;
}
